<!---<p>header-component works!</p>--->

<html lang="en">
  <head> </head>
  <body>
    <header class="header">
      &nbsp;

      <div class="header__box">
        &nbsp;
        <div class="header__logo">
          <img src="./img/bixita_logo.png" class="header__logo__img" />
        </div>
        <div class="header__phone-indicator">
          <P> <i class="fas fa-mobile-alt"></i>&nbsp;+91 9790488338</P>
        </div>
      </div>

      <div class="row u-margin-top-medium">
        <div class="col-1-of-2">
          <div class="header__text-box">
            <div class="header__content">
              <div class="header__content__logo-box">
                <img
                  src="./img/selenium-logo_5.png"
                  class="header__content__logo"
                />
              </div>

              <h1 class="heading-primary u-margin-bottom-medium">
                <span class="heading-primary--main"
                  >Selenium Training in Chennai</span
                >

                <span class="heading-primary--sub"
                  >Advance Online Live classroom training</span
                >
              </h1>

              <a href="#777" class="header__link links__content"
                ><i class="fas fa-mobile-alt"></i>&nbsp;+91&nbsp;9790488338
              </a>
              <div class="header__parabox u-margin-top-medium">
                <p class="header__para u-margin-top-tiny">
                  The Selenium Training is designed to train developers and
                  manual testers to learn how to automate web applications with
                  a robust framework, and integrate it within the DevOps
                  processes of an organization. This Selenium Certification
                  Training course helps you gain an in-depth knowledge of
                  concepts such as WebDriver, TestNG, Wait, Locating Techniques,
                  AutoIT, Sikuli, Page Object Design Pattern, mobile testing,
                  and Selenium Grid.
                </p>
              </div>

              <button
                type="submit"
                class="form-btn u-margin-top-medium header__media-bttn"
              >
                REQUEST A CALLBACK
              </button>
            </div>
          </div>
        </div>

        <div class="col-1-of-2">
          <div class="container">
            <center>
              <div class="header__form">
                <form class="header__main-form">
                  <header>
                    <p class="header__form-para">
                      Need help finding the right training?
                    </p>
                  </header>

                  <div class="header__form-group">
                    <label class="my-0">
                      <input
                        type="text"
                        class="header__myInput"
                        placeholder="Name*"
                      />
                    </label>
                  </div>

                  <div class="header__form-group">
                    <label>
                      <input
                        type="text"
                        class="header__myInput"
                        placeholder="Email*"
                      />
                    </label>
                  </div>

                  <div class="header__form-group">
                    <label>
                      <input
                        type="text"
                        class="header__myInput"
                        placeholder="Phone Num*"
                      />
                    </label>
                  </div>

                  <!----   <div class="header__form-group">
                            <label>
                               Training For*


                                </label>
                                <span class="header__checkbox"><input type="checkbox" class="header__myInput" placeholder="Phone Num*"></span><span class="header__checkbox"><input type="checkbox" class="header__myInput" placeholder="Phone Num*"></span>
                            
                        </div>
                        ---->

                  <div class="header__form-group">
                    <p
                      class="header__form-para u-margin-bottom-tiny"
                      style="margin-right: 10rem;"
                    >
                      Your Message
                    </p>

                    <textarea class="header__formtextarea"></textarea>
                  </div>

                  <div class="header__form-group">
                    <label>
                      <button type="submit" class="form-btn">
                        REQUEST A CALLBACK
                      </button>
                    </label>
                  </div>
                </form>
              </div>
            </center>
          </div>
        </div>
      </div>
    </header>

    <main>
      <section
        class="sticky-bar"
        id="sticky-bar-id"
        #sticky
        [ngClass]="{ onscrollsticky: scrollval >= stickyoffset }"
      >
        <div class="sticky-bar__container">
          <div class="sticky-bar__item">
            <a href="#objectives" class="sticky_link">Objectives</a>
          </div>

          <div class="sticky-bar__item">
            <a href="#targeraud" class="sticky_link"> Target Audience</a>
          </div>

          <div class="sticky-bar__item">
            <a href="/#pre" class="sticky_link">Pre-requisites </a>
          </div>

          <div class="sticky-bar__item">
            <a href="/#course" name="course" class="sticky_link"
              >Course Outline
            </a>
          </div>
        </div>
      </section>

      <section class="section-cta u-margin-top-medium">
        <div
          class="panel u-margin-top-medium"
          (click)="panelClick(panelref)"
          #panelref
        >
          &nbsp;
          <div class="panel__left">
            <div class="panel__pin">
              &nbsp;
            </div>

            <div class="panel__title">
              Overview
            </div>
          </div>
          <div class="panel__indicator">
            <i class="fas fa-angle-down"></i>
          </div>
        </div>
        <div
          class="section-cta__inline-content u-margin-top-big"
          style="margin-left: -50px;"
        >
          <div class="section-cta__content">
            <div class="section-cta__information-box">
              <div class="section-cta__information-box-element">
                <i class="fas fa-clock"></i>
                <p class="gobal__para">24x7 Support</p>
              </div>

              <div class="section-cta__information-box-element">
                <i class="fas fa-money-check-alt"></i>
                <p class="gobal__para">Real-time code analysis and feedback</p>
              </div>
              <div class="section-cta__information-box-element">
                <i class="fas fa-money-check-alt"></i>
                <p class="gobal__para">100% Money Back Guarantee</p>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="section-cta u-margin-top-medium">
        <div
          class="panel u-margin-top-medium"
          (click)="panelClick(panelref1)"
          #panelref1
        >
          &nbsp;
          <div class="panel__left">
            <div class="panel__pin">
              &nbsp;
            </div>

            <div class="panel__title">
              Overview
            </div>
          </div>
          <div class="panel__indicator">
            <i class="fas fa-angle-down"></i>
          </div>
        </div>
        <div class="section-cta__inline-content u-margin-top-big">
          <div class="sticymarks blue">
            &nbsp;
          </div>

          <div class="section-cta__content" target="targeraud">
            <h2 class="secondary-heading">
              What is Selenium Training?
            </h2>

            <p class="gobal__para u-margin-bottom-medium">
              Selenium is an automation testing tool that is used to test
              web-based applications. Selenium is an open source tool and can
              execute scripts in parallel. Selenium allows users to write test
              scripts in several programming languages such as Perl, PHP, Java,
              C#, and etc. Selenium is the world’s most widely used test
              automation tool and more and more test engineers and developers
              started preferring it. This resulted in the increased demand for
              selenium professionals. Excellent job opportunities attracted many
              ambitious youngsters to this profession, and as a result, several
              Selenium training courses have
            </p>

            <a
              href="#"
              class="links__content section-cta__link"
              (click)="OnclickHandler($event)"
              >READ MORE</a
            >

            <p class="gobal__para section-cta__para" *ngIf="click">
              Selenium is an automation testing tool that is used to test
              web-based applications. Selenium is an open source tool and can
              execute scripts in parallel. Selenium allows users to write test
              scripts in several programming languages such as Perl, PHP, Java,
              C#, and etc. Selenium is the world’s most widely used test
              automation tool and more and more test engineers and developers
              started preferring it. This resulted in the increased demand for
              selenium professionals. Excellent job opportunities attracted many
              ambitious youngsters to this profession, and as a result, several
              Selenium training courses have
            </p>
          </div>
        </div>
      </section>
      <div class="obj" id="objectives"></div>
      <section class="section-cta u-margin-top-medium">
        <div
          class="panel u-margin-top-medium"
          (click)="panelClick(panelref2)"
          #panelref2
        >
          &nbsp;
          <div class="panel__left">
            <div class="panel__pin">
              &nbsp;
            </div>

            <div class="panel__title">
              Objectives
            </div>
          </div>
          <div class="panel__indicator">
            <i class="fas fa-angle-down"></i>
          </div>
        </div>
        <div class="section-cta__inline-content u-margin-top-big">
          <div class="sticymarks red">
            &nbsp;
          </div>

          <div class="section-cta__content">
            <h2 class="secondary-heading">
              Selenium Training Features?
            </h2>

            <p class="gobal__para u-margin-bottom-medium"></p>
            <div class="section-cta__list-contianer">
              <ul class="section-cta__list">
                <b class="gobal__para">Expert Instructors</b>
                <li class="section-cta__items gobal__para">
                  60 hours of Instructor led Classes. Weekend class:20 sessions
                  of 3 hours each and Weekday class: 30 sessions of 2 hours
                  each.
                </li>

                <b class="gobal__para">Real Life Case Studies</b>
                <li class="section-cta__items gobal__para">
                  Do a real life case study to understand the usage on real
                  world scenarios.
                </li>
                <b class="gobal__para">Assignments</b>
                <li class="section-cta__items gobal__para">
                  Each class will be followed by practical assignments which can
                  be completed before the next class
                </li>
              </ul>
            </div>
          </div>
        </div>
      </section>

      <section class="section-cta u-margin-top-medium">
        <div
          class="panel u-margin-top-medium"
          (click)="panelClick(panelref3)"
          #panelref3
        >
          &nbsp;
          <div class="panel__left">
            <div class="panel__pin">
              &nbsp;
            </div>

            <div class="panel__title">
              Objectives
            </div>
          </div>
          <div class="panel__indicator">
            <i class="fas fa-angle-down"></i>
          </div>
        </div>
        <div
          class="section-cta__inline-content u-margin-top-big section-cta__inline-content-2"
        >
          <div class="sticymarks blue">
            &nbsp;
          </div>

          <div class="section-cta__content">
            <h2 class="secondary-heading" id="targeraud">
              Target Audiance
            </h2>

            <p class="gobal__para u-margin-bottom-medium"></p>
            <div class="section-cta__list-contianer">
              <ul class="section-cta__list">
                <li class="section-cta__items gobal__para">
                  System Integration
                </li>

                <li class="section-cta__items gobal__para">
                  Coding &amp; configuration
                </li>

                <li class="section-cta__items gobal__para">Brainstorming</li>
                <li class="section-cta__items gobal__para">
                  Knowledge transfer
                </li>
              </ul>
            </div>
          </div>
        </div>
      </section>

      <section class="section-cta u-margin-top-medium">
        <div
          class="panel u-margin-top-medium"
          (click)="panelClick(panelref4)"
          #panelref4
        >
          &nbsp;
          <div class="panel__left">
            <div class="panel__pin">
              &nbsp;
            </div>

            <div class="panel__title">
              Objectives
            </div>
          </div>
          <div class="panel__indicator">
            <i class="fas fa-angle-down"></i>
          </div>
        </div>
        <div class="section-cta__inline-content u-margin-top-big">
          <div class="sticymarks red">
            &nbsp;
          </div>

          <div class="section-cta__content" id="pre">
            <h2 class="secondary-heading">
              prerequisites for Selenium Training?
            </h2>

            <p class="gobal__para u-margin-bottom-medium"></p>
            <div class="section-cta__list-contianer">
              <ul class="section-cta__list">
                <li class="section-cta__items gobal__para">
                  Basic knowledge on software development and web-based
                  applications is required to learn Selenium testing. The
                  following job roles will get benefited by taking up this
                  course:
                </li>
              </ul>
            </div>
          </div>
        </div>
      </section>

      <section class="section-cta u-margin-top-medium">
        <div
          class="panel u-margin-top-medium"
          (click)="panelClick(panelref5)"
          #panelref5
        >
          &nbsp;
          <div class="panel__left">
            <div class="panel__pin">
              &nbsp;
            </div>

            <div class="panel__title">
              Objectives
            </div>
          </div>
          <div class="panel__indicator">
            <i class="fas fa-angle-down"></i>
          </div>
        </div>
        <div class="section-cta__inline-content u-margin-top-big">
          <div class="sticymarks blue">
            &nbsp;
          </div>

          <div class="section-cta__content">
            <h2 class="secondary-heading">
              Available Training Modes
            </h2>
            <div class="section-cta__traningmodes-container">
              <div
                class="section-cta__traningmodes u-margin-top-medium section-cta__traningmoderborder-1"
              >
                <i class="fas fa-desktop gobal-icon"></i>

                <p class="gobal__para">Live Online Training</p>
              </div>

              <div
                class="section-cta__traningmodes u-margin-top-medium u-margin-left-small section-cta__traningmoderborder-2"
              >
                <i class="fas fa-user gobal-icon"></i>

                <p class="gobal__para">Classroom Training</p>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="section-cta u-margin-top-medium">
        <div
          class="panel u-margin-top-medium"
          (click)="panelClick(panelref6)"
          #panelref6
        >
          &nbsp;
          <div class="panel__left">
            <div class="panel__pin">
              &nbsp;
            </div>

            <div class="panel__title">
              Objectives
            </div>
          </div>
          <div class="panel__indicator">
            <i class="fas fa-angle-down"></i>
          </div>
        </div>
        <div class="section-cta__inline-content u-margin-top-big">
          <div class="sticymarks red">
            &nbsp;
          </div>

          <div class="section-cta__content" target="course">
            <div class="exapnflex">
              <h2 class="secondary-heading">
                Course Outline
              </h2>

              <div class="expandall gobal__para">
                <a
                  href="#"
                  (click)="
                    expanall(
                      $event,
                      localref,
                      localref2,
                      localref3,
                      localref5,
                      localref7
                    )
                  "
                  >Expand All</a
                >
              </div>
            </div>
            <div class="pannel-2">
              <div
                class="pannel-2-box u-margin-top-medium"
                (click)="onclick(localref)"
                #localref
              >
                &nbsp;
                <div class="pannel-2__left">
                  <div class="pannel-2__pin">
                    &nbsp;
                  </div>

                  <div class="pannel-2__title">
                    Objectives
                  </div>
                </div>
                <div class="pannel-2__indicator">
                  <i class="fas fa-angle-down"></i>
                </div>
              </div>
              <div class="pannel-2__content">
                <ul class="pannel-2-list section-cta__list">
                  <li
                    class="pannel-2-list-items section-cta__items gobal__para"
                  >
                    Introduction to WebDriver Interface
                  </li>
                  <li
                    class="pannel-2-list-items section-cta__items gobal__para"
                  >
                    Downloading and configuring WebDriver in eclipse
                  </li>
                  <li
                    class="pannel-2-list-items section-cta__items gobal__para"
                  >
                    Opening &amp; Closing browsers
                  </li>
                  <li
                    class="pannel-2-list-items section-cta__items gobal__para"
                  >
                    Creating Firefox profile
                  </li>
                  <li
                    class="pannel-2-list-items section-cta__items gobal__para"
                  >
                    Implementation of WebDriver with HtmlUnit Driver
                  </li>
                  <li
                    class="pannel-2-list-items section-cta__items gobal__para"
                  >
                    Installing &amp; Using Firebug and FirePath Add-ons in
                    Firefox
                  </li>
                  <li
                    class="pannel-2-list-items section-cta__items gobal__para"
                  >
                    Identifying WebElements using id, name, link text, class,
                    xpath, tagname etc
                  </li>
                  <li
                    class="pannel-2-list-items section-cta__items gobal__para"
                  >
                    Creating Customized xPath's &amp; CSS Selector's
                  </li>
                  <li
                    class="pannel-2-list-items section-cta__items gobal__para"
                  >
                    Handling Input Box/Buttons, WebList, Radio Buttons,
                    Checkboxes &amp; Links
                  </li>
                  <li
                    class="pannel-2-list-items section-cta__items gobal__para"
                  >
                    Extracting links and other WebElements
                  </li>
                  <li
                    class="pannel-2-list-items section-cta__items gobal__para"
                  >
                    Capturing screenshots
                  </li>
                  <li
                    class="pannel-2-list-items section-cta__items gobal__para"
                  >
                    Handling Pop-up windows, Alerts &amp; iFrames
                  </li>
                  <li
                    class="pannel-2-list-items section-cta__items gobal__para"
                  >
                    Simulating the Keyboard Keypress events
                  </li>
                  <li
                    class="pannel-2-list-items section-cta__items gobal__para"
                  >
                    Verifying Text Contents in Web Page
                  </li>
                  <li
                    class="pannel-2-list-items section-cta__items gobal__para"
                  >
                    Handling sliders, drag &amp; drop Actions
                  </li>
                  <li
                    class="pannel-2-list-items section-cta__items gobal__para"
                  >
                    Selenium Javadocs
                  </li>
                  <li
                    class="pannel-2-list-items section-cta__items gobal__para"
                  >
                    Finding Coordinates of a Web Object
                  </li>
                  <li
                    class="pannel-2-list-items section-cta__items gobal__para"
                  >
                    Cookie Testing
                  </li>
                  <li
                    class="pannel-2-list-items section-cta__items gobal__para"
                  >
                    Data Parameterization with MS Excel
                  </li>
                  <li
                    class="pannel-2-list-items section-cta__items gobal__para"
                  >
                    Test Logging &amp; Reading Configuration Files
                  </li>
                </ul>
              </div>

              <div
                class="pannel-2-box u-margin-top-medium"
                (click)="onclick(localref2)"
                #localref2
              >
                &nbsp;
                <div class="pannel-2__left">
                  <div class="pannel-2__pin">
                    &nbsp;
                  </div>

                  <div class="pannel-2__title">
                    Objectives
                  </div>
                </div>
                <div class="pannel-2__indicator">
                  <i class="fas fa-angle-down"></i>
                </div>
              </div>

              <div class="pannel-2__content">
                <ul class="pannel-2-list section-cta__list">
                  <li
                    class="pannel-2-list-items section-cta__items gobal__para"
                  >
                    Handling Dynamic WebTables
                  </li>
                  <li
                    class="pannel-2-list-items section-cta__items gobal__para"
                  >
                    Implicit and Explicit WebDriver Wait Conditions
                  </li>
                  <li
                    class="pannel-2-list-items section-cta__items gobal__para"
                  >
                    Invoking JavaScript Functions
                  </li>
                  <li
                    class="pannel-2-list-items section-cta__items gobal__para"
                  >
                    Managing variable xpaths
                  </li>
                </ul>
              </div>

              <div
                class="pannel-2-box u-margin-top-medium"
                (click)="onclick(localref3)"
                #localref3
              >
                &nbsp;
                <div class="pannel-2__left">
                  <div class="pannel-2__pin">
                    &nbsp;
                  </div>

                  <div class="pannel-2__title">
                    Objectives
                  </div>
                </div>
                <div class="pannel-2__indicator">
                  <i class="fas fa-angle-down"></i>
                </div>
              </div>

              <div class="pannel-2__content">
                <ul class="pannel-2-list section-cta__list">
                  <li
                    class="pannel-2-list-items section-cta__items gobal__para"
                  >
                    Installing TestNg in Eclipse
                  </li>
                  <li
                    class="pannel-2-list-items section-cta__items gobal__para"
                  >
                    Understanding usage of TestNg annotations
                  </li>
                  <li
                    class="pannel-2-list-items section-cta__items gobal__para"
                  >
                    Running a Test
                  </li>
                  <li
                    class="pannel-2-list-items section-cta__items gobal__para"
                  >
                    Batch Running of tests
                  </li>
                  <li
                    class="pannel-2-list-items section-cta__items gobal__para"
                  >
                    Skipping Tests
                  </li>
                  <li
                    class="pannel-2-list-items section-cta__items gobal__para"
                  >
                    Parameterizing Tests
                  </li>
                  <li
                    class="pannel-2-list-items section-cta__items gobal__para"
                  >
                    Assertions/Reporting Errors
                  </li>
                  <li
                    class="pannel-2-list-items section-cta__items gobal__para"
                  >
                    TestNg Reports
                  </li>
                  <li
                    class="pannel-2-list-items section-cta__items gobal__para"
                  >
                    Advantages over Junit
                  </li>
                  <li
                    class="pannel-2-list-items section-cta__items gobal__para"
                  >
                    Using TestNg in Selenium
                  </li>
                  <li
                    class="pannel-2-list-items section-cta__items gobal__para"
                  >
                    Downloading and configuring Ant
                  </li>
                  <li
                    class="pannel-2-list-items section-cta__items gobal__para"
                  >
                    Build.xml configuration
                  </li>
                  <li
                    class="pannel-2-list-items section-cta__items gobal__para"
                  >
                    XSLT report generation using TestNg and Ant
                  </li>
                  <li
                    class="pannel-2-list-items section-cta__items gobal__para"
                  >
                    Building a BAT file to run tests using ANT
                  </li>
                </ul>
              </div>

              <div
                class="pannel-2-box u-margin-top-medium"
                (click)="onclick(localref5)"
                #localref5
              >
                &nbsp;
                <div class="pannel-2__left">
                  <div class="pannel-2__pin">
                    &nbsp;
                  </div>

                  <div class="pannel-2__title">
                    Objectives
                  </div>
                </div>
                <div class="pannel-2__indicator">
                  <i class="fas fa-angle-down"></i>
                </div>
              </div>

              <div class="pannel-2__content">
                <ul class="pannel-2-list section-cta__list">
                  <li
                    class="pannel-2-list-items section-cta__items gobal__para"
                  >
                    Selenium grid 2 introduction
                  </li>
                  <li
                    class="pannel-2-list-items section-cta__items gobal__para"
                  >
                    Configuration of Grid
                  </li>
                  <li
                    class="pannel-2-list-items section-cta__items gobal__para"
                  >
                    Setting up Hub, Node
                  </li>
                  <li
                    class="pannel-2-list-items section-cta__items gobal__para"
                  >
                    Grid Console
                  </li>
                  <li
                    class="pannel-2-list-items section-cta__items gobal__para"
                  >
                    TestNG for Parallel execution
                  </li>
                  <li
                    class="pannel-2-list-items section-cta__items gobal__para"
                  >
                    Creating a Grid sample test case
                  </li>
                  <li
                    class="pannel-2-list-items section-cta__items gobal__para"
                  >
                    End to end scenario building and execution on Grid
                    -demonstration on one node
                  </li>
                  <li
                    class="pannel-2-list-items section-cta__items gobal__para"
                  >
                    End to end scenario building and execution on Grid
                    -demonstration on multiple nodes
                  </li>
                  <li
                    class="pannel-2-list-items section-cta__items gobal__para"
                  >
                    End to end scenario building and execution on Grid
                    -demonstration on multiple and on multiple browsers
                  </li>
                </ul>
              </div>

              <div
                class="pannel-2-box u-margin-top-medium"
                (click)="onclick(localref7)"
                #localref7
              >
                &nbsp;
                <div class="pannel-2__left">
                  <div class="pannel-2__pin">
                    &nbsp;
                  </div>

                  <div class="pannel-2__title">
                    Objectives
                  </div>
                </div>
                <div class="pannel-2__indicator">
                  <i class="fas fa-angle-down"></i>
                </div>
              </div>

              <div class="pannel-2__content">
                <ul class="pannel-2-list section-cta__list">
                  <li
                    class="pannel-2-list-items section-cta__items gobal__para"
                  >
                    Handling Dynamic WebTables
                  </li>
                  <li
                    class="pannel-2-list-items section-cta__items gobal__para"
                  >
                    Implicit and Explicit WebDriver Wait Conditions
                  </li>
                  <li
                    class="pannel-2-list-items section-cta__items gobal__para"
                  >
                    Invoking JavaScript Functions
                  </li>
                  <li
                    class="pannel-2-list-items section-cta__items gobal__para"
                  >
                    Managing variable xpaths
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="section-cta u-margin-top-medium">
        <div class="panel u-margin-top-medium">
          &nbsp;
          <div class="panel__left">
            <div class="panel__pin">
              &nbsp;
            </div>

            <div class="panel__title">
              Overview
            </div>
          </div>
          <div class="panel__indicator">
            <i class="fas fa-angle-down"></i>
          </div>
        </div>
        <div class="section-cta__inline-content u-margin-top-big">
          <div class="sticymarks blue">
            &nbsp;
          </div>

          <div class="section-cta__content" id="course">
            <h2 class="secondary-heading">
              Who is the instructor for this training?
            </h2>

            <p class="gobal__para u-margin-bottom-medium">
              We have more then 5 years experience professsional traininer in
              this domain, All the topics will be covered with Practical and
              hands-on training by our experts.
            </p>
          </div>
        </div>
      </section>

      <section class="whats-icon">
        <a href="#" class="float" target="_blank">
          <i class="fa fa-whatsapp my-float"></i>
        </a>
      </section>

      <section class="section-cta u-margin-top-medium">
        <div class="panel u-margin-top-medium">
          &nbsp;
          <div class="panel__left">
            <div class="panel__pin">
              &nbsp;
            </div>

            <div class="panel__title">
              Overview
            </div>
          </div>
          <div class="panel__indicator">
            <i class="fas fa-angle-down"></i>
          </div>
        </div>
        <div class="section-cta__inline-content u-margin-top-big">
          <div class="sticymarks blue">
            &nbsp;
          </div>

          <div class="section-cta__content">
            <h2 class="secondary-heading">
              DOWNLOAD SYB
            </h2>

            <!---<p class="gobal__para u-margin-bottom-medium"></p> 
              
            --->
            <a
              href="img/selenium.pdf"
              download
              class="links__content section-cta__link u-margin-top-big u-margin-bottom-big"
            >
              CLICK HERE TO DOWNLOAD
            </a>
          </div>
        </div>
      </section>

      <section class="whats-icon">
        <a href="#" class="float" target="_blank">
          <i class="fa fa-whatsapp my-float"></i>
        </a>
      </section>
    </main>
    <!-- <p appDisplay>hello page</p> -->
  </body>
</html>
